@media only screen and (max-width: 600px){

.feature-background {
    z-index: 12;
    display: flex;
    flex-direction: column;
}


.feature {
    z-index: 12;
    background: transparent;
    justify-content: space-between;
    display: initial;
}
.feature-background {
    background: #c57d31;
}
.feature-item{
    height: 200px;
    width: 30%;
    background: transparent;
    margin: 28px auto;
}

.icon {
    width: 70px;
    /* display: flex; */
    height: 70px;
    background-color: white;
    text-align: center;
   
    
}


.feature-item-picture {
    padding: 35px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 3px 10px 40px 10px black
}

.center {
    text-align: center;
}


.feature-item-text {
    padding-top: 30px;
    height: 50px;
    text-align: center;
    font-size: 30px;

}