.feature {
    display: flex;
    background: #009933;
    justify-content: space-between;

}
.feature-item{
    height: 300px;
    width: 30%;
    background: #996600;
    margin: 5px;
}

.icon {
    width: 50px;
    /* display: flex; */
    height: 50px;

}
.feature-item-picture {
height: 100px;
text-align: center;

}
.feature-item-text {
height: 100px;
text-align: center;

}