.feature {
    display: flex;
    flex-wrap: wrap;
    background: #c57d31;
    justify-content: space-between;

}
.feature-background {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feature-item{
    z-index: 12;
    height: 300px;
    width: 30%;
    /* background: transparent; */
    margin: 5px;
}

.icon {
    width: 70px;
    /* display: flex; */
    height: 70px;
    background-color: white;
    text-align: center;
   
    
}


.feature-item-picture {
    padding: 35px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 3px 10px 40px 10px black
}

.feature-item-picture.active {
  height: 200px;
  width: 300px;
  background-color: #fff;
  border-radius: 3px;
  }
  .feature-item-picture.active ~ div {
    display: none;
  }

.center {
    text-align: center;
}


.feature-item-text {
    padding-top: 50px;
    height: 100px;
    text-align: center;
    font-size: 30px;

}

@keyframes flip {
    from {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      animation-timing-function: ease-out;
    }
  
    40% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -190deg);
      animation-timing-function: ease-out;
    }
  
    50% {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      animation-timing-function: ease-in;
    }
  
    80% {
      transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
  
    to {
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
      animation-timing-function: ease-in;
    }
  }
  
  .feature-item-picture {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .feature-item-picture:hover {
    backface-visibility: visible;
    animation-name: flip;
  }
  