.form{
    /* margin-bottom: 10px; */
    height: 300px;
    background: #009933;
    /* border: 1px solid black; */
}
.box-form {    
    background: #009933;
    height: 250px;
}

.text-form {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em green, 0 0 0.2em green;
}
.press-me {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em green, 0 0 0.2em green;
}

.email{
    height: 100px;
    width: 200px;
    background: #996600;
    /* margin: 50px auto; */
}