    /* margin-bottom: 10px; */
    /* height: 300px;
    background: #c57d31;
    background-image: url("gfx/garden2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom url(";
    background-size: cover;
    height: 700px;
    border: 1px solid black; */

    .form {
        height: 700px;
    }
    .box-form{
        height: 100%    ;
        background-color: black;
    }
    .up-ground {
        height: 30%;
        background-image: url("gfx/UP-groud.png");
        background-repeat-y: no-repeat;
    }
    .animals {
        padding: 10px;
        height: 60%;
        display: flex;
    }
    .kret{
        height: 100%;
        width: 30%;
        background: no-repeat;
        background-position: center;
        background-image: url("gfx/kret.png");
    }
    .form-window{
        height: 100%;
        width: 40%;
        min-width: 400px;
        background: transparent;
    }
    .jez{
        height: 100%;
        width: 30%;
        background: no-repeat;
        background-position: center;
        background-image: url("gfx/jez.png");
    }
    .bottom-ground{
        height: 40%;
        background-image: url("gfx/BOTTOM-ground.png");
        background-repeat-y: no-repeat;
        /* background-repeat-x: no-repeat; */
        /* background-size: cover; */
    }
    .form-info {
        color: white;
        letter-spacing: 6px;
        text-align: center;
    }
    .enter-email {
        color: white;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
    }
    .email-window {
        margin-right: 20px;
        color: black;
        background-color: white;
        height: 50px;
        width: 400px;
        border-radius: 30px;
    }
    .button-to-send {
        text-align: center;
        color: black;
        background-color: white;
        height: 50px;
        width: 120px;
        border-radius: 30px;
    }
    