    .form {
        height: 700px;
    }
    .box-form{
        height: 100%    ;
        background-color: black;
    }
    .up-ground {
        height: 30%;
        background-image: url("gfx/UP-groud.png");
        background-repeat-y: no-repeat;
    }
    .animals {
        justify-content: center;
        padding: 10px;
        height: 60%;
        display: flex;
    }
    .form-window{
        height: 100%;
        padding: 10px;
        min-width: 280px;
        background: transparent;
    }
    .bottom-ground{
        height: 40%;
        background-image: url("gfx/BOTTOM-ground.png");
        background-repeat-y: no-repeat;
    }
    .h1-form {
        line-height: 50px;

    }
    .form-info {
        margin-bottom: 100px;
        color: white;
        letter-spacing: 6px;
        text-align: center;
    }
    .enter-email {
        display: flex;
        flex-wrap: wrap;
        color: white;
        min-width: 280px;
        /* display: flex;    dodać do Desctop */
        flex-grow: 1;
        justify-content: center;
        text-align: center;
    }

    .form-control {
        display: flex;
        border: 0;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 40px;
        height: 50px;
        width: 340px;
        border-radius: 30px;
    }
    .button-to-send {
        text-align: center;
        color: black;
        background-color: white;
        height: 50px;
        width: 50%;
        border-radius: 30px;
    }
    