  .hero {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: cover;
    height: 590px;
}
.hero-tlo1 {
    animation: sungoin 5s ease 1s infinite alternate none;
    padding-top: 15;
    z-index: 10;
    background-image: url("gfx/paralaxa/happy-sun.png");
    position: absolute;
    background: cover; 
    left: -100px;
    top: -200px;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;   
}
.hero-tlo3:hover {
    animation-play-state: paused;
}
.hero-tlo2 {
    animation: cloudson 5s ease 1s infinite alternate none;
    z-index: 5;
    margin-top: -400;
    background-image: url("gfx/paralaxa/clouds22.jpg");
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 700px;
    background-repeat: repeat-x;
}
.hero-tlo3 {
    z-index: 16;
    background-image: url("gfx/garden_png.png");
    position: absolute;
    background: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.product-info {
    min-width: 240px ;
    font-size: 20px;
    text-align: center;
    box-shadow: 3px 15px 40px 10px black;
    margin: 0 3vh 40px;
    background: white;
    border: 5px solid white;
    padding: 5px;
}

.hero-title {
    font-size: 30px;
}
.button-f {
    text-decoration: none;
    color: black;
    color: inherit;
    transition: color 0.5s;
    font-size: 25px;
}
.button-f:hover {
    text-decoration: none;
    color: inherit;
}
.link-form{
    align-self: center;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    background-color: white;
    border: 5px solid white;
    border-radius: 40px;
    margin: 3vh 3vmin;
    box-shadow: 3px 15px 40px 10px black;    
    transition: background-color 0.5s;
    width: 70%;
    height: 25px;
}
.link-form:hover {
    background-color: #217226;
    color: white;
}
.title {
    order: -1;
    color: white;
    font-size: 20px;
    letter-spacing: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em #217226, 0 0 0.2em #217226;
    text-align: center;
    margin-top: 70px;
}
.box-product {
    z-index: 100;
    display: flex;
    flex-direction: column;  
    width: 40%;
}
.title-class{
    display: flex;
    flex-direction: column;
}

@keyframes sungoin {
0% { margin-left: 0 }
25% { margin-left: 5% }
50% { margin-left: 15% }
75% { margin-left: 30% }
100% { margin-left: 60% }
}

@keyframes cloudson {
0% { margin-top: -0 }
10% { margin-top: -0.3% }
20% { margin-top: -0.6% }
30% { margin-top: -0.9% }
40% { margin-top: -0.6% }
50% { margin-top: -0.4% }
60% { margin-top: -0.5% }
70% { margin-top: -0.4% }
80% { margin-top: -0.5 }
90% { margin-top: -0.3 }
100% { margin-top: -0.1 }
}
