body {
    margin: 0px;
}

.menu{
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    background-color: black;
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}

.navigation .active {
    background: grey;
}

.logo {
    height: 50px;
    width: 50px;
    background: white;
    align-self: center;
    margin-left: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
 
.logo img {
    margin-left: auto;
	margin-right: auto;
	display: block;
}    

.navigation {
    display: flex;
}

.nav-item {
    margin: 0px;
    padding: 15px;
    color: white;
    /* font-weight: bold; */
    font-size: 20px;
}

.nav-item:hover {
    background-color: green;
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .navigation {
        display: none;
    }
}
