.menu{
    display: flex;
    justify-content: space-between;
    background: black;
}

.logo {
    height: 50px;
    width: 50px;
    background: white;
    align-self: center;
    margin-left: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    }
 
.logo img {
    margin-left: auto;
	margin-right: auto;
	display: block;
}    

.navigation {
    display: flex;
}

.nav-item {
    margin: 10px;
    border: 3px solid white;
    padding: 9px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}