.team{
    background: #009933;
    display: flex;
    justify-content: space-between;
}
.team-member{
    height: 100px;
    background: #996600;
    width: 20%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.team-member a{
    text-decoration: none;
    text-indent: -10000px;
    color: white;
    width: 50px;
}

a.Ola{
    background: url(kret-Ola.jpg) no-repeat center;
    background-size: 80%;
}
a.Balbina{
    background: url(kret-Balbina.jpg) no-repeat center;
    background-size: 80%;
}
a.Lukasz{
    background: url(kret-Lukasz.jpg) no-repeat center;
    background-size: 80%;
}
a.Monika{
    background: url(kret-Monika.jpg) no-repeat center;
    background-size: 80%;
}

a[class^="fb"]{
    background: url(fb.png) no-repeat center;
    background-size: 80%;
}
a[class^="lin"]{
    background: url(lin.png) no-repeat center;
    background-size: 80%;
}

.team-member span{
    font-weight: bold;
    display: block;
    width: 100%;
    margin: 10px auto 0;
    text-align: center;

}
.team-member span ~ a{
    width: 40%;
    max-width: 30px;
    padding: 3px;
    margin: 0 auto;
}