.team{
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.team-member{
    height: 300px;
    background: transparent;
    width: 20%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.team-member a{
    text-decoration: none;
    text-indent: -10000px;
    color: white;
    width: 100px;
    height: 100px;
}

a.Ola{
    background: url(kret-Ola.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black
}
a.Balbina{
    background: url(kret-Balbina.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black
}
a.Lukasz{
    background: url(kret-Lukasz.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black
}
a.Monika{
    background: url(kret-Monika.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black
}
a[class^="about"]{
    background: url(about.png) no-repeat center;
    background-size: 80%;
    min-width: 50px;
}
a[class^="fb"]{
    background: url(fb.png) no-repeat center;
    background-size: 80%;
    min-width: 50px; 
}
a[class^="lin"]{
    background: url(lin.png) no-repeat center;
    background-size: 80%;
    min-width: 50px;
}

.team-member span{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px auto 0;
    text-align: center;

}
.team-member span ~ a{
    width: 40%;
    max-width: 30px;
    padding: 3px;
    margin: 0 auto;
}
.team-member span ~ a:hover{
    background-size: 75%;
}