.team{
    background:  #c57d31;
    display: flex;
    justify-content: center;
}
.team-member{
    height: 250px;
    /* background: transparent; */
    width: 20%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 120px;
    max-width: 250px;

}
.social{
    min-width: 160px;
}
.team-member a {
    text-decoration: none;
    text-indent: -10000px;
    color: white;
    width: 100px;
    height: 100px;
}

.social a {
    display: inline-block;
    width: 30px;
    height: 40px;
}

.Ola{
    background: url(gfx/kret-Ola.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black;
    transition: background-image 0.8s ease-in-out;
}
.Ola.true {
    background: url(gfx/Ola.jpg) no-repeat center;
    background-size: 90%;
    background-color: white;
    -webkit-transition: background-image 0.8s ease-in-out;
    transition: background-image 0.8s ease-in-out;
}
.Balbina{
    background: url(gfx/kret-Balbina.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black;
    transition: background-image 0.8s ease-in-out;
}
.Balbina.true {
    background: url(gfx/Balbina.jpg) no-repeat center;
    background-size: 100%;
    -webkit-transition: background-image 0.8s ease-in-out;
    transition: background-image 0.8s ease-in-out;
}
.Lukasz{
    background: url(gfx/kret-Lukasz.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black;
    transition: background-image 0.8s ease-in-out;
}
.Lukasz.true {
    background: url(gfx/Lukasz.jpg) no-repeat center;
    background-size: 100%;
    -webkit-transition: background-image 0.8s ease-in-out;
    transition: background-image 0.8s ease-in-out;
}
.Monika{
    background: url(gfx/kret-Monika.jpg) no-repeat center;
    background-size: 100%;
    border-radius: 50px;
    box-shadow: 3px 10px 40px 10px black;
    transition: background-image 0.8s ease-in-out;
}
.Monika.true {
    background: url(gfx/Monika.jpg) no-repeat top;
    background-size: 100%;
    -webkit-transition: background-image 0.8s ease-in-out;
    transition: background-image 0.8s ease-in-out;
}
a[class^="about"]{
    background: url(gfx/about.png) no-repeat center;
    background-size: 80%;
    min-width: 50px;
}
a[class^="fb"]{
    background: url(gfx/fb.png) no-repeat center;
    background-size: 80%;
    min-width: 50px; 
}
a[class^="lin"]{
    background: url(gfx/lin.png) no-repeat center;
    background-size: 80%;
    min-width: 50px;
}

.team-member span{
    height: 70px;
    padding-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto 0;
    text-align: center;

}
.team-member span ~ a{
    width: 40%;
    max-width: 30px;
    padding: 3px;
    margin: 0 auto;
}
.social a:hover{
    background-size: 75%;
}