.fruit1 {
    background-color: blue;
}

.fruit2 {
    background-color: yellow;
}

.fruit3 {
    background-color: green;
}


.game {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 800px;
    background-color: gray;
}
.game_main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    height: 790px;
    background-color: darkgray;
}
.game_main_window {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 990px;
    height: 650px;
    background-color: darkgray;
}
.level_window {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
    background-color: black;
    overflow: hidden;
}
.basket {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 430px;
    height: 40px;
    width: 80px;
    background-color: lawngreen;
}
.stats_window {
    display: flex;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    height: 120px;
    background-color: darkgray;
}
.life {
    margin: auto;
    width: 30%;
    height: 115px;
    background-color: gray;
}
.hot_key {
    margin: auto;
    width: 30%;
    height: 115px;
    background-color: gray;
}
.scoore {
    margin: auto;
    width: 30%;
    height: 115px;
    background-color: gray;
    color:  white;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.introScreen {
    position: absolute;
    z-index: 100;
    left: 170px;
    top: 108px;
    width: 600px;
    height: 400px;
    background-color: rgb(19, 212, 212);
    border-radius: 10px;
}

.introScreenContent {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    margin: 80 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
    border-radius:10px;
}

.button {
    position: absolute;
    top: 230px;
    left: 240px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    font-size: 14pt;
    color: white;
    margin: 0 auto;
    background-color: rgba(83, 197, 2, 0.925);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;

}

.button:hover {
    background-color:  rgb(125, 185, 82);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}


/* .endScreen {
    position: absolute;
    z-index: 101;
    left: 170px;
    top: 108px;
    width: 600px;
    height: 400px;
    background-color: rgb(19, 212, 212);
    border-radius: 10px;
} 

.endScreenContent {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    margin: 80 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.endScore {
    position: absolute;
    left: 100px;
    top: 170px;
    width: 400px;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
    margin: 80 auto;
    text-align: center;
} */

.buttonHS {
    position: absolute;
    top: 200px;
    left: 240px;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    font-size: 14pt;
    background-color: #888888;
    color: white;
    margin: 0 auto;
}