.fruit1 {
    background: url(../fruits.png/arbuz.png) no-repeat center;
    background-size: 90%;
    width: 80px;
    height: 80px;
}

.fruit2 {
    background: url(../fruits.png/jablko.png) no-repeat center;
    background-size: 100%;
}

.fruit3 {
    background: url(../fruits.png/wisnia.png) no-repeat center;
    background-size: 100%;
}

body {
    margin: 0;
}
.game {
    font-family: 'Amatic SC';
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.game_main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(19, 212, 212);
}

.game_main_window {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: rgb(19, 212, 212);
}
.level_window {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
    background: url(../fruits.png/trawa1.png), url(../fruits.png/drzewo.png), url(../fruits.png/tlo.jpg);
    background-repeat: no-repeat;
    background-position: bottom, bottom, center;
    background-size: 103%, 150%, cover;
    overflow: hidden;
}
.basket {
    position: absolute;
    z-index: 100;
    bottom: 0;
    height: 40px;
    width: 80px;
    background: url(../fruits.png/koszyk.png) no-repeat bottom;
    background-size: cover;
}
.stats_window {
    display: flex;
    margin: auto 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(19, 212, 212);
}
.life, .score, .hot_key {
    
    margin: auto;
    width: 30%;
    background-color: gray;
    color:  black;
    font-size: 4vh;
    font-weight: bold;
    text-shadow: 2px 1px rgba(179, 179, 166, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.5);
    border-radius:10px;
}
 
.introScreen {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introScreenContent {
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 5.5vh;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
    border-radius:10px;
}

.button {
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgba(83, 197, 2, 0.925);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.button:hover {
    background-color:  rgb(125, 185, 82);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.endScreen {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
} 

.endScreenContent {
    width: 70%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 5.5vh;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.endScore {
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .level_window {
        background-size: 103%, 110%, cover;
    }
}

@media screen and (min-width: 950px) {
    .game_main {
        width: 60%;
    }

    .endScreenContent {
        width: 40%;
    }

    .life, .score, .hot_key {
        font-size: 6vh;
    }
}